<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Document</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>

  </head>
  <body>
    <input type="text" class="form-control" placeholder="Search for..." ng-model="search">

    <div class="" ng-controller="phonesController">
      <div class="radio" ng-repeat="button in modes">
        <label>
            <input type="radio" ng-model="data.mode"  value="{{button.value}}">
            {{button.label}}
        </label>
      </div>

    <!--<div ng-include="setFile()"></div>-->
    <div class="" ng-switch on="data.mode">
      <div class="" ng-switch-when="Phones">
        <div ng-controller="phonesController">
          <p>Количество элементов: <span ng-bind="phones.length"></span></p>
          <p>Первый элемент: <span ng-bind="phones[0].name"></span></p>
        </div>
        <table class="table table-striped" ng-controller="phonesController">
          <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Price</th>
            <th>Company</th>
          </tr>
          <tr ng-repeat="phone in phones | filter: search">
            <td>{{$index + 1}}</td>
            <td>{{phone.name}}</td>
            <td>{{phone.price}}</td>
            <td>{{phone.company.country}}</td>
          </tr>
        </table>
      </div>
      <div class="" ng-switch-when="Tablets">
        <div ng-controller="phonesController">
          <p>Количество элементов: <span ng-bind="tablets.length"></span></p>
          <p>Первый элемент: <span ng-bind="tablets[0].name"></span></p>
        </div>
        <table class="table table-striped" ng-controller="phonesController">
          <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Price</th>
            <th>Company</th>
          </tr>
          <tr ng-repeat="tablet in tablets | filter: search">
            <td>{{$index + 1}}</td>
            <td>{{tablet.name}}</td>
            <td>{{tablet.price}}</td>
            <td>{{tablet.company.country}}</td>
          </tr>
        </table>
      </div>
      <div class="" ng-switch-default>
        Выберите товары для просмотра
      </div>
    </div>

    </div>


    <script type="text/javascript" src="js/controllers/app.js"></script>
  </body>
</html>
