.quest {
  padding-left: 25px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;
}
.questcolor {
    background: #F6F6F6;
}
.questselectedcolor{
    background: #ddd;
}
.answer {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
.vote {
    float: left;
    text-align: center;
    width: 21px;
    margin-right: 20px;
}
.vote-up, .vote-down{
    display: block;
    margin: 0px 10px 0px 10px;
    width: 21px;
    height: 25px;
}
.vote-up{
    background-position: 0px 10px;
    overflow: hidden;
}
.vote-down{
    background-position: 0px -20px;
    overflow: hidden;
}
.rate {
  margin: 0px 15px 0px 15px;
}

.answForm {
  border: 5px dashed #566573;
  padding: 25px;
  margin: 15px;
}
